main {
	margin: 0 auto;
    min-height: 80vh;
}

main > h1 {
    margin: 50px auto 30px;
    width: 50%;
}

.banner_contact,
.contact_info {
    margin: 0 auto;
    width: 50%;
}

.contact_location_infos {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
}

.contact_info form {
    width: 50%;
}

.contact_info .location {
    width: 50%;
}

.contact_info .location iframe {
    width: 100%;
}

.contact_info label {
    display: inline-block;
    width: 90%;
}

.contact_info input[type='text'],
.contact_info input[type='email'],
.contact_info textarea {
    margin-bottom: 20px;
    padding: 5px 10px;
}

.contact_info input[type='text'],
.contact_info input[type='email'],
.contact_info textarea {
    width: 90%;
}

.contact_info textarea {
    resize: none;
}

.input_radio,
.input_checkbox {
    display: inline;
}

.input_radio input,
.input_checkbox input {
    margin-right: 10px;
    display: none;
}

.input_radio span,
.input_checkbox span {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 6px;
    background-color: transparent;
    border: 1px solid #555;
}

.input_radio span {
    border-radius: 50%;
}
.input_checkbox span {
    border-radius: 2px;
}

.input_radio span:hover,
.input_checkbox span:hover {
    background-color: #aaa;
    cursor: pointer;
}

.contact_info input[type='radio']:checked + span,
.contact_info input[type='checkbox']:checked + span {
    background-color: #e3422d;
}

.contact_info button {
    margin-top: 20px;
    padding: 7px 15px;
    background-color: #e3422d;
    border: none;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 14px;
}

.contact_info button:hover {
    cursor: pointer;
    background-color: #df2e16;
}

.banner_contact {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_contact h1,
.banner_contact p {
    margin-top: 10px;
}

.banner_contact hr  {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 816px) and (max-width: 1597px) {
    .contact_location_infos {
        flex-direction: column;
    }

    .contact_location_infos form {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact_location_infos .location {
        width: 100%;
    }
}
/* and (min-width: 816px)  */
@media screen and (max-width: 815px) {
    main > h1 {
        margin: 50px auto 30px;
        width: 100%;
        padding: 10px
    }
    
    .banner_contact,
    .contact_info {
        width: 100%;
        padding: 10px
    }

    .contact_location_infos {
        flex-direction: column;
    }

    .contact_location_infos form {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact_location_infos .location {
        width: 100%;
    }
}