main {
	margin: 0 auto;
	min-height: 80vh;
}

.banner_contact,
.banner_title {
    width: 50vw;
    margin-left: 25vw;
}

.banner_title {
    padding-top: 100px;
}

.banner_title h1 {
    font-size: 2em;
}

.banner_contact {
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_contact h1,
.banner_contact p {
    margin-top: 10px;
}

.banner_contact hr  {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .banner_contact:last-of-type {
	margin-bottom: 100px;
} */