.banner_section {
	max-height: 80vh;
	overflow: hidden;
}

.banner_section img {
	margin-top: -10vw;
	width: 100%;
}

.content {
    margin: 0 auto;
    width: 60%;
    margin-top: 50px;
}

.content h1 {
    margin-bottom: 30px;
}

.content p {
    margin: 10px 0;
    text-align: justify;
    font-size: 16px;
}

.jane_doe_musics {
    display: flex;
    margin: 20px 0;
}

.jane_doe_musics picture,
.jane_doe_musics ol {
    display: block;
    width: 50%;
}

.jane_doe_musics picture img {
    width: 100%;
}

.jane_doe_musics ol li {
    margin: 30px 0;
    width: 100%;
    font-size: 20px;
}

.jane_doe_musics ol li a {
    color: #dca548;
    text-decoration: none;
    font-weight: bold;
}

.jane_doe_musics ol li a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 721px) and (max-width: 989px) {
    .content {
        margin: 0 auto;
        width: 100%;
        padding: 0 50px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 541px) and (max-width: 720px) {
    .content {
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 540px)  {
    .content {
        margin: 0 auto;
        width: 100%;
        padding: 0 10px;
        margin-top: 50px;
    }

    .jane_doe_musics {
        flex-direction: column;
    }

    .jane_doe_musics picture,
    .jane_doe_musics ol {
        width: 100%;
        padding: 0 20px;
    }
}