@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

header {
    padding: 20px 20px 0;
    height: auto;
	text-align: center;
    border-bottom: 1px solid #ccc;
}

nav {
	padding: 20px;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
    padding: 10px 20px;
    width: auto;
}
nav ul li a {
    text-decoration: none;
    color: #111111;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #e3422d;
    font-weight: bold;
}

main {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 20px;
    height: 5vh;
    background-color: #ccc;
}